html, 
body {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('images/worldtravel.jpg');
  background-size: 100%;
  font-family: 'Slabo 27px';
  font-size: 40px;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  margin-right: 400px;
}

.App-intro {
  font-size: large;
}

.body {
  margin: 35px 125px;
}

.btn {
  width: 85px;
  height: 85px;
  background: #ED6A5E;
  border: 2px solid #F4442E;
  border-radius: 100%;
  font-family: 'Slabo 27px';
  font-size: 20px;
}

.weather-input {
  width: 175px;
  height: 22px;
  border: solid black 2px;
  margin-right: 25px;
}

.temp-render {
  padding: 25px;
}

.down-arrow {
  width: 35px;
  height: 35px;
  padding-bottom: 15px;
}

.guide-display {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.card {
  border: 1px solid black;
  margin: 15px;
}

.card {
  width: 250px;
  height: 325px;
}

.card-img {
  width: 250px;
  height: 80px;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: #FC9E4F;
  bottom: 0;
  height: 65px;
  width: 100%;
}

